
body {
  width: 100vw;
  background-color: #5d5d5d;
  margin: 0;
  padding: 0;
}

nav {
  position: sticky;
  top:10px;
  z-index: 20;
}

nav ul {
    list-style-type: none;
    font-family: Gill Sans MT;
    padding: 0px;
    margin: 10px 0px;
    text-align: center;
    font-weight: bold;
  }
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #999;
}
nav ul li a:hover {
    text-decoration: underline;
    color:#ffffff;
}

#centralcolumn {
    width: 595px;
    height: 841px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0;
    box-shadow: 10px 10px 5px #4c4c4c;
}

#cv-head
{
  background-color: #2a293a;
  position: relative;
  color: white;
  padding: 0;
  height: 150px;
/*  box-shadow: 0px 8px 6px -6px #4c4c4c;*/
}

#cv-head:after
{
  content: "";
  position: absolute;
  display: table;
  top: 100%;
	width: 0;
	height: 0;
	border-top: 13px solid #2a293a;
	border-right: 595px solid transparent;
  z-index: 10;
}

#title {
  font-weight: 300;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  font-size: 2.2em;
  font-family: Raleway;
  font-weight: light;
}

#title:before
{
  content:"";
  width:210px;
  height:.5px;
  background:#cccccc;
  position:absolute;
  bottom:80px;
  left:80px;
}

#title:after
{
  content:"";
  width:210px;
  height:.5px;
  background:#cccccc;
  position:absolute;
  bottom:80px;
  right:80px;
}


#shortdesc
{
  margin:0;
  padding-left:80px;
  padding-right:80px;
  font-family: gill sans mt;
  font-size: .85em;
  font-weight: 50;
  text-align: justify;
  position: relative;
}

#shortdesc:before
{
  content:"";
  width: 2px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: -13px;
  left: calc(50% - 1px);
  transform: rotate(45deg);
}

.main-body
{
  font-family: Gill Sans MT;
  font-weight: 200;
  font-size: 0.8em;
  margin: 0;
  padding:0;
  display: -webit-flex;
  display: flex;
}

.main-text
{
margin:0;
padding: 10px 40px;
font-family: Gill Sans MT;
font-weight: 100;
}

.side-bar
{
color: white;
font-family: Gill Sans MT;
font-weight: 100;
flex: 0 0 197px;
float: right;
background-color: #616179;
padding:0;
margin:0;
height: 691px;
/*background: linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,0));*/
background-image: url("../assets/repeat.svg");
position: relative;
}

.side-bar:before{
  content:"";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(97,97,121,1), rgba(0,0,0,0));
}

h2
{
  color:red;
  padding:0;
  margin: 0;
  font-family: Gill Sans MT;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  position: relative;
}

.section__header:before
{
  content:"";
  width:60px;
  height:1px;
  background:red;
  position: absolute;
  top: 11px;
  left: 0;
}

.section__header:after
{
  content:"";
  width:60px;
  height: 1px;
  background:red;
  position: absolute;
  top: 11px;
  right: 0;
}

.section__header--interests,
.section__header--contact
{
  color: #ffffff;
}

.section__header--interests:before,
.section__header--interests:after,
.section__header--contact:before,
.section__header--contact:after
{
  background: #ffffff;
}

.section__header--interests
{
  color: #ffffff;
}


h3
{
  padding:0;
  margin: 0;
  font-family: Gill Sans MT;
  color: blue;
}

h4
{
  padding:0;
  margin: 0;
  font-family: Gill Sans MT;
  color: magenta;
}
h5
{
  padding:0;
  margin: 0;
  font-family: Gill Sans MT;
  color: yellow;
}
.para{
  padding:0;
  margin: 0;
  font-family: Gill Sans MT;
  color: black;
}

.side-bar > p
{
  padding: 30px;
  position: relative;
}

.side-bar > ul
{
  position: relative;
}

/*
    Static Position: Browser's dedault positioning. Follows the flow of content.
    Relative: Positions relative to the Static potiion. A modifier.
    Absolute: Positions relative to nearest (first ancester) not statically positioned.
    Fixed: Positioned realtive to the viewport.
    Sticky: Statically positioned until off-viewport, then becomes fixed positioned

*/
