
body {
  width: 100vw;
  background-color: #666666;
  margin: 0;
  padding: 0;
}

nav {
  position: sticky;
  top:0px;
  z-index: 20;
  background-color:#666666;
}

nav ul {
    list-style-type: none;
    font-family: Gill Sans MT;
    padding: 0px;
    margin: 0px 0px 10px 0;
    text-align: center;
    font-weight: bold;
  }
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #999;
}
nav ul li a:hover {
    text-decoration: underline;
    color:#ffffff;
}

#centralcolumn {
    width: 595px;
    height: 850px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0;
    box-shadow: 10px 10px 5px #4c4c4c;
}

#cv-head
{
  background-color: #2a293a;
  position: relative;
  color: white;
  padding: 0;
  height: 150px;
/*  box-shadow: 0px 8px 6px -6px #4c4c4c;*/
}

#cv-head:after
{
  content: "";
  position: absolute;
  display: table;
  top: 100%;
	width: 0;
	height: 0;
	border-top: 13px solid #2a293a;
	border-right: 595px solid transparent;
  z-index: 10;
}

#title {
  font-weight: 300;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  font-size: 2.2em;
  font-family: Raleway;
  font-weight: light;
}

#title:before
{
  content:"";
  width:210px;
  height:.5px;
  background:#cccccc;
  position:absolute;
  bottom:80px;
  left:80px;
}

#title:after
{
  content:"";
  width:210px;
  height:.5px;
  background:#cccccc;
  position:absolute;
  bottom:80px;
  right:80px;
}


#shortdesc
{
  margin:0;
  padding-left:80px;
  padding-right:80px;
  font-family: gill sans mt;
  font-size: .85em;
  font-weight: 50;
  text-align: justify;
  position: relative;
}

#shortdesc:before
{
  content:"";
  width: 2px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: -13px;
  left: calc(50% - 1px);
  transform: rotate(45deg);
}

.main-body
{
  font-family: Gill Sans MT;
  font-weight: 200;
  font-size: 0.8em;
  margin: 0;
  padding:0;
  display: -webit-flex;
  display: flex;
}

.main-text
{
margin:0;
padding: 10px 40px;
font-family: Gill Sans MT;
font-weight: 100;
}

.side-bar
{
color: white;
font-family: Gill Sans MT;
font-weight: 100;
flex: 0 0 197px;
float: right;
background-color: #616179;
padding:0;
margin:0;
height: 700px;
/*background: linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,0));*/
background-image: url("../assets/repeat-blurred.svg");
position: relative;
}

.side-bar:before{
  content:"";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background:
    linear-gradient(
      to top,
      rgba(97,97,121,.9)50%,
      rgba(0,0,0,0));
}

h2
{
  color:#666666;
  padding:0;
  margin: 10px 0 0 0;
  font-family: Gill Sans MT;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  position: relative;
}

h3
{
  color:#666666;
  padding:0;
  margin: 10px 0 0 0;
  font-family: Gill Sans MT;
  font-style: italic;
  font-size: 1.1em;
  font-weight: bold;
}

h4
{
  color:#666666;
  padding:0;
  margin: 10px 0 0 0;
  font-family: Gill Sans MT;
  font-weight: bold;
  font-style: italic;
  font-size: 1em;
  margin-top: 8px;
}
h5
{
  color: #666666;
  padding:0;
  margin: 0;
  font-family: Gill Sans MT;
  font-style: italic;
  font-size: .95em;
  font-weight: 500;
}


.section__header:before
{
  content:"";
  width:50px;
  height:1px;
  background:#666666;
  position: absolute;
  top: 11px;
  left: 10px;
}

.section__header:after
{
  content:"";
  width:50px;
  height: 1px;
  background:#666666;
  position: absolute;
  top: 11px;
  right: 10px;
}

.section__header--interests,
.section__header--contact
{
  color: #ffffff;
}

.section__header--interests:before,
.section__header--interests:after,
.section__header--contact:before,
.section__header--contact:after
{
  background: #ffffff;
}

.section__header--interests
{
  color: #ffffff;
}

.para{
  padding:0;
  margin: 0;
  font-family: Gill Sans MT;
  color:#666666;
  font-weight: 100;
  font-size: 0.95em;
  text-align: justify;
}

.side-bar > p
{
  padding: 0 30px;
  position: relative;
}

.side-bar > ul
{
  position: relative;
  list-style: none;
  padding: 10px 10px 10px 10px;
}

.side-bar > ul > li
{
  padding: 3px 3px 3px 3px;
  margin: 0;
}

.side-bar > ul > li >a
{
  text-decoration: none;
  color: #fff;
}
.side-bar > ul > li > a:hover
{
  color: #fff;
  text-decoration: underline;
}
.side-bar > ul > li > img
{
  margin: 2px;
  padding:0;
}

.units
{
  font-family: Gill Sans MT;
  color:#666666;
  font-weight: 100;
  text-align: center;
  font-weight: 100;
  font-size: .85em;
  line-height: 190%
}



.js,.ht,.css,.ai,.ae,.ps
{
  padding:0;
  margin:4px;
}

.tool-icons
{
  margin:20px 0 0 0;
  padding:5px;
  height: 150px;
}

.section__list--contact img
{
  vertical-align: bottom;
}


/*
    Static Position: Browser's dedault positioning. Follows the flow of content.
    Relative: Positions relative to the Static potiion. A modifier.
    Absolute: Positions relative to nearest (first ancester) not statically positioned.
    Fixed: Positioned realtive to the viewport.
    Sticky: Statically positioned until off-viewport, then becomes fixed positioned

*/
